# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating System Files
.DS_Store
Thumbs.db

# LaTeX files (temporary files generated during compilation)
Drafts/*.aux
Drafts/*.log
Drafts/*.out
Drafts/*.toc
Drafts/*.synctex.gz
Drafts/*.bbl
Drafts/*.blg
Drafts/*Notes.bib
Drafts/*.pdf
